<!-- This is the nav bar -->


<nav class="navbar">
  <div class="left">
    <img
      src="webflix.png"
      alt=""
      alt="film-icon.webp"
      width="64px"
      height="64px"
      style="padding-left: 10px"
    />
    <h1>WEBFLIX</h1>
  </div>

  <div class="navFlex"></div>
</nav>
